/* You can add global styles to this file, and also import other style files */

input {
  padding-left: 7px;
  border-radius: 4px;
  border: 1px solid lightgray;
}

.btn-link {
  font-weight: bold !important;
  color: black !important;
}

#checkbox {
  top: 4px;
}