<button type="button" class="btn btn-primary m-2 mb-3" data-toggle="modal" data-target="#addSupplierForm">
    Add Supplier
</button>


<div class="modal fade" id="addSupplierForm" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Add Supplier</span>
                </h4>
                <button type="button" class="btn btn-link close ml-auto" data-dismiss="modal"
                    aria-label="Close"><span aria-hidden="true">
                        <fa-icon [icon]="faWindowClose"></fa-icon>
                    </span></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="supplierForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="supplierName">Supplier Name</label>
                        <input type="text" class="form-control" formControlName="supplierName" required>
                    </div>
                    <button type="submit" [disabled]="!supplierForm.valid">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>