<div class="container-fluid">
    <div class="row">
        <div class="col-sm main">
            <h2 class="sub-header m-2">Categories</h2>

            <app-modal-form (alert)="sendAlert($event)"></app-modal-form>

            <button type="button" class="btn btn-secondary-outline mb-2" (click)="refresh()">
                <fa-icon [icon]="faSync"></fa-icon>
            </button>

            <ngb-alert [type]="alertType" [dismissible]="false" [innerHTML]="message"></ngb-alert>

            <app-table (alert)="sendAlert($event)" [message]="message"></app-table>

        </div>
    </div>

</div>