
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="p-2"><button class="btn btn-link" (click)="toggleSort('categoryId')">ID&nbsp;<fa-icon [icon]="faSort"></fa-icon>
                    </button></th>
                <th class="p-2"><button class="btn btn-link" (click)="toggleSort('categoryName')">Category&nbsp;Name&nbsp;<fa-icon
                            [icon]="faSort"></fa-icon></button></th>
                <th class="align-middle p-2">Edit/Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories; let i = index">
                <td class="align-middle p-2">{{category.categoryId}}</td>
                <td class="align-middle p-2">{{category.categoryName}}</td>
                <td class="align-middle text-center p-2" id="category-{{category.categoryId}}">
                    <div class="btn-group" role="group">
                        <button type="button" (click)="updateCategoryForm(category)" class="btn btn-secondary" data-toggle="modal"
                            [attr.data-target]="'#updateCategory' + category.categoryId">
                            <fa-icon [icon]="faEdit"></fa-icon>
                        </button>

                        <div class="modal fade" id="updateCategory{{category.categoryId}}" tabindex="-1">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">
                                            <span>Update Category</span>
                                        </h4>
                                        <button type="button" class="btn btn-link close ml-auto" data-dismiss="modal"
                                            aria-label="Close"><span aria-hidden="true">
                                                <fa-icon [icon]="faWindowClose"></fa-icon>
                                            </span></button>
                                    </div>
                                    <div class="modal-body text-left p-4">
                                        <form [formGroup]="categoryForm" (ngSubmit)="onSubmit(category.categoryId)">
                                            <div class="form-group">
                                                <label for="categoryName">Category Name</label>
                                                <input type="text" class="form-control" formControlName="categoryName" required>
                                            </div>
                                            <button type="submit" [disabled]="!categoryForm.valid">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-danger" data-toggle="modal"
                            [attr.data-target]="'#deleteCategory' + category.categoryId">
                            <fa-icon [icon]="faTrashAlt"></fa-icon>
                        </button>

                    </div>

                        <div class="modal fade" id="deleteCategory{{category.categoryId}}" tabindex="-1">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="modal-title">Delete Category</h4>
                                        <button type="button" class="btn btn-link close ml-auto" data-dismiss="modal"
                                            aria-label="Close"><span aria-hidden="true">
                                                <fa-icon [icon]="faWindowClose"></fa-icon>
                                            </span></button>
                                    </div>
                                    <div class="modal-body">
                                        <p><strong>Are you sure you want to delete <p class="text-primary">
                                                    Category ID# {{category.categoryId}}, "{{category.categoryName}}"?</p></strong>
                                        </p>
                                        <p>All information associated with this category will be permanently deleted.
                                            <span class="text-danger">This operation can not be undone.</span>
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
                                            aria-label="Cancel">Cancel</button>
                                        <button type="button" class="btn btn-danger"
                                            (click)="deleteCategory(category.categoryId, i)">Ok</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                </td>
            </tr>
        </tbody>
    </table>
</div>
<nav aria-label="Table Navigation" class="mt-3">

        <div class="m-2 pagination pagination-sm">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="6" [pageSize]="size"
                [rotate]="true" [boundaryLinks]="true" (pageChange)="populateCategoriesArray()">
            </ngb-pagination>
        </div>
        <div class="m-2">
            Items per page: <input type="number" min="1" max="100" step="1" [(ngModel)]="size" required
                oninput="validity.valid||(value='')">
        </div>
</nav>