<div class="container-fluid">
    <div class="row">
        <div class="col-sm main">
            <h1 class="page-header">Dashboard:</h1>

            <h2 class="sub-header m-2">Suppliers</h2>

            <button type="button" class="btn btn-primary m-2 mb-3" data-toggle="modal" data-target="#addProductForm">
                Add Supplier
            </button>
            
            <button type="button" class="btn btn-secondary-outline mb-2" (click)="reload()">
                    <fa-icon [icon]="faSync"></fa-icon>
            </button>

            <!-- Alerts -->
            <!-- <app-alerts></app-alerts> -->

            <!-- Table -->
            <!-- <app-table></app-table>
            
            <app-page-navbar></app-page-navbar> -->
        </div>
    </div>

    <!-- Add Product Form -->
    <!-- <app-modal-form></app-modal-form> -->

</div>
